body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body,.App,#root,:root,.loginContainer{
  min-width:100vw;
  min-height: 100vh;
}
.loginContainer{
  display: flex; justify-content: center;
  background: url("./images/mask_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginContainer label{
  color:black;
}
